{% load static %}

<section class="about-1 _src-item _section">
  <div class="about-1__bg _ibg">
    <img src="{{ image.url }}" alt="{{ header.title }}" />
    <div class="about-1__container _container">
      <div class="about-1__content">
        <div class="about-1__title-box">
          <h2 class="about-1__title _title">{{ header.title }}</h2>
          <p class="about-1__text">
            {{ header.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>