{% load static %}
{% load i18n %}

<section class="contacts _section">
  <div class="contacts__bg">
    <div class="contacts__container _container">
      <div class="contacts__content">
        <h2 class="contacts__title _title">{% translate 'Наши контакты' %}</h2>
        <div class="contacts__info-box">
          <h4 class="contacts__label">{% translate 'Отдел продаж' %}</h4>
          <p class="contacts__text">{% translate 'Ирпень, ул. Соборная, 1г корпус 1,' %}</p>
        </div>
        <div class="contacts__info-box">
          <h4 class="contacts__label">{% translate 'Utlandia 1' %}</h4>
          <p class="contacts__text">{% translate 'ул Чехова, 1А' %}</p>
        </div>
          <div class="contacts__info-box">
          <h4 class="contacts__label">{% translate 'Utlandia 2' %}</h4>
          <p class="contacts__text">{% translate 'ул Украинская, 1Б/1' %}</p>
        </div>
        <div class="contacts__info-box">
          <a href="tel:+380687799866" class="contacts__phone binct-phone-number-1">+38 068 77 99 8 66</a>
        </div>
        <div class="contacts__info-box">
          <div class="contacts-socials">
            <a href="#" class="contacts-socials__links">Facebook</a>
            <a href="#" class="contacts-socials__links">Instagram</a>
            <a href="#" class="contacts-socials__links">YouTube</a>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2537.6278994072736!2d30.242075851409336!3d50.50388277938215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b3389fe726cbf%3A0x37a215fbb9c39c7d!2z0JLRltC00LTRltC7INC_0YDQvtC00LDQttGDINCW0JogVXRsYW5kaWEgKCDQntGC0LTQtdC7INC_0YDQvtC00LDQtiDQltCaIFV0bGFuZGlhKQ!5e0!3m2!1sru!2sua!4v1612309583873!5m2!1sru!2sua"
        width="400"
        height="300"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</section>