{% load static %}
{% load i18n %}
<section class="lucky _src-item _section">
  <div class="lucky__content">
    <div class="lucky__tabs _tabs">
      <div class="lucky__tabs-items-box">
        <div class="lucky__title-box">
          <h2 class="lucky__title _title">{% translate 'Удачная локация' %}</h2>
        </div>
        <nav class="lucky__tabs-items">
          <div class="lucky__tabs-item _tabs-item _active">
            <div class="lucky__tabs-item-img">
              <picture><source srcset="{% static './img/main5_lucky_loc/icon01.svg' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/icon01.svg' %}" loading="lazy" alt="mall's icon" /></picture>
            </div>
            <h6 class="lucky__tabs-item-text">{% translate 'Торговые центры' %}</h6>
          </div>
          <div class="lucky__tabs-item _tabs-item">
            <div class="lucky__tabs-item-img">
              <picture><source srcset="{% static './img/main5_lucky_loc/icon02.svg' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/icon02.svg' %}" loading="lazy" alt="parks's icon" /></picture>
            </div>
            <h6 class="lucky__tabs-item-text">{% translate 'Парки' %}</h6>
          </div>
          <div class="lucky__tabs-item _tabs-item">
            <div class="lucky__tabs-item-img">
              <picture><source srcset="{% static './img/main5_lucky_loc/icon03.svg' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/icon03.svg' %}" loading="lazy" alt="sport's icon" /></picture>
            </div>
            <h6 class="lucky__tabs-item-text">{% translate 'Спорт и развлечения' %}</h6>
          </div>
          <div class="lucky__tabs-item _tabs-item">
            <div class="lucky__tabs-item-img">
              <picture><source srcset="{% static './img/main5_lucky_loc/icon04.svg' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/icon04.svg' %}" loading="lazy" alt="fuel's icon" /></picture>
            </div>
            <h6 class="lucky__tabs-item-text">{% translate 'Заправки' %}</h6>
          </div>
          <div class="lucky__tabs-item _tabs-item">
            <div class="lucky__tabs-item-img">
              <picture><source srcset="{% static './img/main5_lucky_loc/icon05.svg' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/icon05.svg' %}" loading="lazy" alt="medicine's icon" /></picture>
            </div>
            <h6 class="lucky__tabs-item-text">{% translate 'Медицина' %}</h6>
          </div>
          <div class="lucky__tabs-item _tabs-item">
            <div class="lucky__tabs-item-img">
              <picture><source srcset="{% static './img/main5_lucky_loc/icon06.svg' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/icon06.svg' %}" loading="lazy" alt="education's icon" /></picture>
            </div>
            <h6 class="lucky__tabs-item-text">{% translate 'Обучение' %}</h6>
          </div>
        </nav>
      </div>
      <div class="lucky__tabs-blocks">
        <div class="lucky__tabs-block _tabs-block  _active">
          <div class="lucky__tabs-block_img _ibg">
            <picture><source srcset="{% static './img/main5_lucky_loc/torg_1.webp' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/torg_1.jpg' %}" alt="shop's map" /></picture>
          </div>
        </div>
        <div class="lucky__tabs-block _tabs-block">
          <div class="lucky__tabs-block_img _ibg">
            <picture><source srcset="{% static '/img/main5_lucky_loc/parks_1.webp' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/parks_1.jpg' %}" alt="parks' map" /></picture>
          </div>
        </div>
        <div class="lucky__tabs-block _tabs-block">
          <div class="lucky__tabs-block_img _ibg">
            <picture><source srcset="{% static './img/main5_lucky_loc/sport_1.webp' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/sport_1.jpg' %}" alt="sport's map" /></picture>
          </div>
        </div>
        <div class="lucky__tabs-block _tabs-block">
          <div class="lucky__tabs-block_img _ibg">
            <picture><source srcset="{% static './img/main5_lucky_loc/zapr_1.webp' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/zapr_1.jpg' %}" alt="fuel's map" /></picture>
          </div>
        </div>
        <div class="lucky__tabs-block _tabs-block">
          <div class="lucky__tabs-block_img _ibg">
            <picture><source srcset="{% static './img/main5_lucky_loc/med_1.webp' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/med_1.jpg' %}" alt="medicine's map" /></picture>
          </div>
        </div>
        <div class="lucky__tabs-block _tabs-block">
          <div class="lucky__tabs-block_img _ibg">
            <picture><source srcset="{% static './img/main5_lucky_loc/edu_1.webp' %}" type="image/webp"><img src="{% static './img/main5_lucky_loc/edu_1.jpg' %}" alt="education's map" /></picture>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>